---
---

$body-font: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #000000;
$card-color: #ffffff;

body {
    font-family: $body-font;
    color: #000000;
    font-size: 13px;

}

a:link, a:visited, a:hover, a:active {
    color: $link-color;
}

div.album-wrapper {
    border: 1px solid #BBBBBB;
    display: inline-block;
    box-shadow: 3px 3px 1px #F0F0F0;
    margin: 10px;
    background-color: $card-color;
    div.album {
        width: 200px;
        margin: 15px;
        div.cover-image {
            background-size: cover;
            background-position: center center;
            width: 200px;
            height: 200px;
            margin-bottom: 5px;
        }
        div.album-title {
            font-weight: 500;
        }
        div.album-date {
            font-weight: 300;
        }
    }
}
