<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Title-->
        <title>{{ site.name }}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

        <!-- Custom CSS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" />
        <link rel="stylesheet" href="{{ "assets/css/style.css" | relativize_url }}">
    </head>
    <body>
        {{ content }}
        <div class="container">
            <div class="row">
                {% for album in site.data.albums %}
                <div class="col-3">
                    <div class="album-wrapper">
                        <div class="album">
                            <a target="_blank" href="{{ album.url }}">
                                <div class="cover-image" style="background-image: url({{ album.cover_image }})"></div>
                            </a>
                            <div class="album-info">
                                <div class="album-title">
                                    <a target="_blank" href="{{ album.url }}">{{ album.title }}</a>
                                </div>
                                <div class="album-date">{{ album.date | date: "%B %-d, %Y" }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
