<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Title-->
        <title>{{ site.name }}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ "assets/css/style.css" | relativize_url }}">
    </head>
    <body>
        {{ content }}
        <div class="container">
            {% for album in site.data.albums %}
            <div class="album-wrapper col-3">
                <div class="cover-image" style="background-image: url({{ album.cover_image }})"></div>
                <div class="album-info">
                    <div><a target="_blank" href="{{ album.url }}">{{ album.title }}</a></div>
                    <div>{{ album.date | date: '%b %d' }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </body>
</html>
